body{
    margin:0;
    padding:0;
}

h1{
	margin:0;
	padding:0;
}


nav{
    width:100%;
    height:50px;
    background-color:#4F758A;
    position:fixed;
    top:0;
    z-index:1000;
}

nav div{
    float:left;
}

nav div div{
	float:left;
}

.appPage{
	margin-top:50px;
}

#uploadedImage, #receipt{
    width:100%;
}

#googleMap, #trackJourney{
    width:100%;
    height:100%;
}

#mapContent{
    padding:0;
    width:100%;
    height:100%;
}
